.navbar {
  display: flex;
  justify-content: center;
  background-color: #272727;
  padding: 15px 0px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo {
  width: 120px;
  margin: 0px;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.menu-item {
  color: #ffffff;
  font-family: Roboto;
  text-decoration: none;
  font-weight: 500;
  margin: 0px 15px;
}

.logoutbutton {
  background-color: #4f46e5;
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  outline: none;
  width: auto;
}

@media screen and (max-width: 767px) {
  .menu-item {
    margin: 0px 10px;
  }

  .menu-item {
    margin: 0px 5px;
  }

} 

