.job-item-details-bg-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  background-image: url('https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?auto=format&fit=crop&w=1920&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  overflow: hidden;
}

.job-details-success-view {
  max-width: 80vw;
  margin: auto;
  overflow-y: auto; 
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  flex-grow: 1;
}

.similar-jobs-heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 24px;
}

.similar-jobs-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style-type: none;
}

.loader-container,
.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.failure-image {
  width: 200px;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .similar-jobs-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
