.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  border-radius: 8px;
  padding: 40px 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 4px 16px 0px #000000;
}

.logo {
  width: 120px;
  margin-bottom: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
.input {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #475569;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 14px;
}

.button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.error-message {
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 8px;
}
